<ion-app>
  <ion-menu side="start" menuId="home-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Coach-Manager v.0.0
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item  routerLink="/tabs/shop">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>SHOP</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
          <ion-item routerLink="/tabs/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>HOME</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item routerLink="/tabs/company">
              <ion-icon name="cash" slot="start"></ion-icon>
              <ion-label>COMPANY</ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
