
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="post-home">
        <ion-label>My Posts</ion-label>
        <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="new-post">
        <ion-label>New Post</ion-label>
        <ion-icon name="add"></ion-icon>
    </ion-tab-button>

     
    <ion-tab-button tab="news">
        <ion-label>News</ion-label>
        <ion-icon name="cafe"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


