<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="home-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CoachManager v.0.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
    WELCOME TO HOME PAGE
    There will be portal here. ( Map , Bus Status , Profit and Company information )
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-xs="12" offset-sm="3">
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="sign-up" checked>
            <ion-label>Sign Up</ion-label>
          </ion-segment-button>
          <ion-segment-button value="login">
            <ion-label>Login</ion-label>
          </ion-segment-button>
        </ion-segment>
        <form *ngIf="signFormVisible" #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon slot="end" name="person"></ion-icon>
                  <ion-label position="floating" color="dark"> User Name </ion-label>
                  <ion-input type="text" ngModel name="userName" required userName #userNameCTRL="ngModel"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon slot="end" name="mail"> </ion-icon>
                  <ion-label position="floating">E-Mail</ion-label>
                  <ion-input type="email" ngModel name="email" required email #emailCTRL="ngModel"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon slot="end" name="key"></ion-icon>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" ngModel name="password" minlength="6" reqired password
                    #passwordCTRL="ngModel"></ion-input>
                </ion-item>
              </ion-list>
              <ion-item *ngIf="!signUpForm.valid && signUpForm.touched">
                <ion-icon slot="start" name="alert"></ion-icon>
                <ion-label color="danger">Email UserName or Password is not valid</ion-label>
              </ion-item>
              <ion-button color="primary" expand="full" type="submit" [disabled]="!signUpForm.valid">
                SING UP
              </ion-button>
            </ion-card-content>
          </ion-card>
        </form>

        <form *ngIf="!signFormVisible" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon slot="end" name="person"></ion-icon>
                  <ion-label position="floating" color="dark"> User Name </ion-label>
                  <ion-input type="text" ngModel name="userName" required userName #userNameCTRL="ngModel"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon slot="end" name="key"></ion-icon>
                  <ion-label position="floating" color="dark"> Password</ion-label>
                  <ion-input type="password" ngModel name="password" required password #passwordCTRL="ngModel"></ion-input>
                </ion-item>
              </ion-list>
              <ion-item *ngIf="!loginForm.valid && loginForm.touched">
                <ion-icon slot="start" name="alert"></ion-icon>
                <ion-label color="danger">Email UserName or Password is not valid</ion-label>
              </ion-item>
              <ion-button color="primary" expand="full" type="submit" [disabled]="!loginForm.valid">
                LOGIN
              </ion-button>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>