<ion-header>
  <ion-toolbar>
    <ion-title>post-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md=6 size-sm=12 size-xs=12>
          <ion-card>
              <ion-img [src]="lastPost.imgURL"></ion-img>
              <ion-card-header>
                 <ion-card-subtitle> {{lastPost.date}}</ion-card-subtitle>
                 <ion-card-title>{{lastPost.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{lastPost.description}}
              </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size-md=6 size-sm=12 size-xs=12>
          LIST WILL BE IMPLEMENT HERE
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
