<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="shop">
        <ion-label> SHOP</ion-label>
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-label> HOME</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="company">
        <ion-label> COMPANY</ion-label>
        <ion-icon name="cash"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
